
#imagenrostro{
  background-color: rgb(250, 145, 0);
}

#textoretrato{
  text-align: center;
  font-family: DancingScript;
  font-size: 1.5em;
  color: white;
  text-decoration: underline;
  padding: 0 0 1% 0;
  text-shadow: 1px 1px 2px #02010a;
